header {
  background-color: #111111;
  background-image: url(../images/homepage/hero-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 820px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
header .row-header {
  position: relative;
  left: 5.5rem;
}
header .dine-logo {
  position: relative;
  top: -6rem;
}
header h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  width: 31.75rem;
}
header p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  width: 27.813rem;
}
header .btn-booking-1 {
  padding: 1.5rem 4rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
header .btn-booking-1:hover {
  background-color: #ffffff;
  color: #111111;
  transition: 250ms ease-in-out;
}

.booking-header {
  background-image: url(../images/booking/hero-bg-desktop.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.booking-header .row-booking-header {
  display: flex;
  justify-content: space-between;
}

.btn-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
}

.arrow-icon {
  cursor: pointer;
  position: relative;
  right: 2rem;
}

.arrow-icon.show {
  transform: rotate(180deg);
}

form {
  background-color: #ffffff;
  padding: 1.5rem 2.5rem;
  box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 5rem;
}
form .form-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
form .form-controls {
  display: flex;
  flex-direction: column;
}
form .form-reserve-control {
  display: flex;
  justify-content: space-around;
}
form .detail-controls {
  display: flex;
  flex-direction: column;
}
form .details-control-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
form .time-box-reserve {
  display: flex;
  align-items: center;
  gap: 1rem;
}
form .input-field.error-placeholder::placeholder {
  color: #B54949;
}
form .input-field.error {
  border-bottom: 1px solid #B54949;
}
form .error-text.error-show {
  display: block;
  color: #B54949;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 0.25rem;
}
form #error-email.error-email {
  color: #B54949;
  display: block;
}
form #error-date.error {
  color: #B54949;
  display: block;
}
form .r-number,
form span {
  color: #111111;
}
form .name-input {
  width: 25rem;
  padding: 0.875rem 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111111;
  outline: none;
}
form .email-input {
  width: 25rem;
  padding: 0.875rem 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111111;
  outline: none;
}
form .email-input.error {
  border-bottom: 1px solid #B54949;
  color: #B54949;
}
form .input-month,
form .input-day,
form .input-year,
form .input-hour,
form .input-minute,
form .input-am-pm {
  width: 4.5rem;
  padding: 0.875rem 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111111;
  outline: none;
}
form label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #111111;
}
form .btn-plus,
form .btn-minus {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
form .line {
  border-bottom: 1px solid #111111;
}
form label.label-error {
  color: #B54949;
}
form .am-pm_submenu {
  background: #ffffff;
  position: absolute;
  top: 22rem;
  right: 0rem;
  left: 22rem;
  box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  color: #111111;
  width: 5.75rem;
  display: none;
  padding: 1.2rem 2rem;
  gap: 0.5rem;
}
form .am-pm_submenu div {
  display: flex;
  justify-content: center;
  align-items: center;
}
form .am-pm_submenu a {
  text-decoration: none;
  color: #111111;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}
form .am-pm_submenu.show {
  display: block;
}
form .btn-reservation {
  padding: 1.5rem 7rem;
  background-color: #111111;
  border: none;
  color: #ffffff;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
form .btn-reservation:hover {
  background-color: #ffffff;
  border: 1px solid #111111;
  color: #111111;
}

.mid-pattern-row {
  display: flex;
  align-items: flex-start;
}
.mid-pattern-row .pattern-lines {
  position: relative;
  top: 2rem;
  right: 5.5rem;
  z-index: -2;
}

.enjoy-content-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.enjoy-content-row .title-patterns {
  margin-bottom: 2rem;
}
.enjoy-content-row h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  width: 29.813rem;
}
.enjoy-content-row p {
  font-size: 1.125rem;
  line-height: 1.5;
  width: 27.813rem;
}
.enjoy-content-row .enjoyable-place-img {
  position: relative;
  top: -4rem;
  right: 0rem;
  z-index: 100;
  box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
}

.locally-sourced-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.locally-sourced-row .title-patterns {
  margin-bottom: 2rem;
}
.locally-sourced-row h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  width: 29.813rem;
}
.locally-sourced-row p {
  font-size: 1.125rem;
  line-height: 1.5;
  width: 27.813rem;
}
.locally-sourced-row .local-right {
  display: flex;
  align-items: center;
}
.locally-sourced-row .sourced-img {
  box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 4rem;
}
.locally-sourced-row .pattern-line-1 {
  position: relative;
  right: 2.5rem;
}

.highlight-dishes {
  background-color: #111111;
  color: #ffffff;
  height: 47.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-row {
  gap: 10rem;
  display: flex;
  justify-content: space-between;
}
.highlight-row .title-patterns {
  margin-bottom: 2rem;
}
.highlight-row h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  width: 27.813rem;
}
.highlight-row h5 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.highlight-row p {
  font-size: 1.125rem;
  line-height: 1.5;
  width: 27.813rem;
}
.highlight-row .menu-row {
  display: flex;
}
.highlight-row .offer-lines {
  position: relative;
  top: 0.5rem;
  right: 1rem;
}
.highlight-row .dish-img {
  position: relative;
  z-index: 1;
}

.offer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5c6779;
  padding: 2rem 0;
}
.offer-row p {
  font-size: 1rem;
  width: 21.875rem;
}

.gathering-row {
  background-image: url(../images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.gathering-row .tab-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gathering-row h2 {
  color: #242b37;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.gathering-row p {
  color: #242b37;
  font-size: 1rem;
  line-height: 1.5;
  width: 27.813rem;
  margin-bottom: 4rem;
}
.gathering-row .btn-booking-2 {
  padding: 1.5rem 4rem;
  background-color: #111111;
  color: #ffffff;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
.gathering-row .btn-booking-2:hover {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #111111;
  transition: 250ms ease-in-out;
}
.gathering-row .btn-gathering,
.gathering-row .btn-special,
.gathering-row .btn-social {
  background: none;
  border: none;
  color: #4c4c4c;
  font-size: 1.063rem;
  cursor: pointer;
}
.gathering-row .btn-gathering:hover,
.gathering-row .btn-special:hover,
.gathering-row .btn-social:hover {
  color: #17192b;
}
.gathering-row ul {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}
.gathering-row ul li {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #5c6779;
}
.gathering-row .pattern-line-2 {
  position: relative;
  left: -2rem;
  top: 3rem;
}

.reservation-section {
  background-image: url(../images/homepage/ready-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 1rem;
}

.reservation-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reservation-row h2 {
  font-size: 3rem;
  color: #ffffff;
}
.reservation-row .btn-booking-3 {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1.5rem 4rem;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
.reservation-row .btn-booking-3:hover {
  background-color: #ffffff;
  color: #111111;
  transition: 250ms ease-in-out;
}

footer {
  background-color: #111111;
  color: #ffffff;
  padding: 4rem 0rem;
}
footer .row {
  display: flex;
  justify-content: space-around;
}
footer .list-box {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 1rem;
}

@media (min-width: 118.875rem) {
  header .row-header {
    left: 14rem;
  }
}
@media (max-width: 64rem) {
  header {
    background-image: url(../images/homepage/hero-bg-tablet.jpg);
    height: 62rem;
    justify-content: center;
  }
  header .row-header {
    text-align: center;
    align-items: center;
    top: 12rem;
    left: 0rem;
    right: 0rem;
  }
  header .row-header .dine-logo {
    margin: 0 auto;
  }
  header .row-header h1 {
    font-size: 3rem;
    width: 25rem;
    position: relative;
    left: 5rem;
  }
  header .row-header p {
    width: 35.813rem;
    text-align: center;
  }
  .enjoy-content-row {
    flex-direction: column;
    text-align: center;
  }
  .enjoy-content-row .title-patterns {
    margin: 0 auto;
  }
  .locally-sourced-row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .locally-sourced-row .title-patterns {
    margin: 0 auto;
  }
  .locally-sourced-row p {
    margin-bottom: 4rem;
  }
  .locally-sourced-row .sourced-img {
    margin-bottom: 6.5rem;
    position: relative;
    left: 5rem;
  }
  .highlight-dishes {
    height: 55.688rem;
  }
  .highlight-dishes .title-patterns {
    margin: 0 auto;
  }
  .highlight-dishes .highlight-row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  .highlight-dishes .menu-offers {
    position: relative;
    top: -3rem;
  }
  .highlight-dishes .menu-highlight-text {
    position: relative;
    top: 4rem;
  }
  .highlight-dishes .offer-row h5,
  .highlight-dishes .offer-row p {
    text-align: left;
  }
  .tab-content {
    flex-direction: column;
    text-align: center;
  }
  .tab-content h2,
  .tab-content p {
    text-align: center;
  }
  .displays-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .displays-button-box ul {
    display: flex;
    gap: 3rem;
  }
  .reservation-section {
    background-image: url(../images/homepage/ready-bg-tablet.jpg);
  }
  .reservation-section .reservation-row {
    flex-direction: column;
  }
  .reservation-section h2 {
    margin-bottom: 2rem;
  }
  footer .list-box {
    flex-direction: column;
  }
  .booking-header {
    background-image: url(../images/booking/hero-bg-tablet.jpg);
  }
  .booking-header .row-booking-header {
    top: 5rem;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .booking-header .row-booking-header h1 {
    font-size: 3rem;
    width: 25rem;
    position: relative;
    left: 0;
  }
  .mid-pattern-row .curve-bottom {
    display: none;
  }
  .mid-pattern-layout {
    height: auto;
  }
}
@media (max-width: 30rem) {
  header {
    background-position: center center;
    background-image: url(../images/homepage/hero-bg-mobile.jpg);
    height: 66.75rem;
  }
  header .row-header {
    left: 0rem;
  }
  header .row-header h1 {
    font-size: 2.5rem;
    left: 0;
  }
  header .row-header p {
    font-size: 1rem;
    width: 20.438rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .enjoy-content-row h2 {
    font-size: 2rem;
    width: 20rem;
    margin: 0 auto;
  }
  .enjoy-content-row p {
    width: 23rem;
  }
  .locally-sourced-row h2 {
    font-size: 2rem;
    width: 20rem;
    margin: 0 auto;
  }
  .locally-sourced-row p {
    width: 23rem;
  }
  .locally-sourced-row .sourced-img {
    left: 0rem;
  }
  .gathering-row,
  .locally-sourced-row,
  .enjoy-content-row {
    background-image: none;
  }
  .pattern-line-1,
  .pattern-line-2 {
    display: none;
  }
  .highlight-dishes {
    height: auto;
    text-align: center;
  }
  .highlight-dishes h2 {
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    margin: 0 auto;
  }
  .highlight-dishes p {
    width: 23rem;
    margin: 0 auto;
  }
  .highlight-dishes .offer-row {
    flex-direction: column;
  }
  .highlight-dishes .offer-row h5,
  .highlight-dishes .offer-row p {
    text-align: center;
  }
  .highlight-dishes .offer-row .offer-lines {
    display: none;
  }
  .gathering-row h2 {
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    margin: 0 auto;
  }
  .gathering-row p {
    width: 23rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .gathering-row .displays-button-box ul {
    flex-direction: column;
    gap: 1rem;
  }
  .reservation-section {
    background-image: url(../images/homepage/ready-bg-mobile.jpg);
  }
  .reservation-section h2 {
    font-size: 2rem;
    width: 20rem;
    text-align: center;
  }
  footer .row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    text-align: center;
  }
  .booking-header {
    background-image: url(../images/booking/hero-bg-mobile.jpg);
  }
  .booking-header .row-booking-header {
    top: 0;
    flex-direction: column;
  }
  .booking-header .row-booking-header p {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  form {
    top: 0;
    padding: 1.5rem 0.3rem;
  }
  form .form-controls {
    gap: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  form .detail-controls {
    width: 95%;
    text-align: left;
  }
  form .details-control-row {
    flex-direction: column;
  }
  .mid-pattern-layout {
    height: 350px;
  }
  .mid-pattern-layout .pattern-lines {
    display: none;
  }
  .mid-pattern-row .curve-bottom {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}