 .booking-header {
     background-image: url(../images/booking/hero-bg-desktop.jpg);
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: flex-end;


     .row-booking-header {
         display: flex;
         justify-content: space-between;
         // align-items: center;
     }
 }

 .btn-arrow {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
     margin-left: 1rem;
 }

 .arrow-icon {
     cursor: pointer;
     position: relative;
     right: 2rem;
 }

 .arrow-icon.show {
     transform: rotate(180deg);
 }

 form {
     background-color: $white;
     padding: 1.5rem 2.5rem;
     box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: -3px -4px 53px 0px rgba(0, 0, 0, 0.75);
     position: relative;
     top: 5rem;
     //  max-width: 540px;
     //  width: 100%;

     .form-column {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 1.5rem;
     }

     .form-controls {
         display: flex;
         flex-direction: column;
     }

     .form-reserve-control {
         display: flex;
         justify-content: space-around;
     }

     .detail-controls {
         display: flex;
         flex-direction: column;
     }

     .details-control-row {
         display: flex;
         align-items: center;
         gap: 1rem;
     }

     .time-box-reserve {
         display: flex;
         align-items: center;
         gap: 1rem;
     }

     .input-field.error-placeholder::placeholder {
         color: $red;
     }

     .input-field.error {
         border-bottom: 1px solid $red;
     }

     .error-text.error-show {
         display: block;
         color: $red;
         font-size: 0.875rem;
         font-weight: 400;
         line-height: 1.25rem;
         margin-top: 0.25rem;
     }

     #error-email.error-email {
         color: $red;
         display: block;
     }

     #error-date.error {
            color: $red;
            display: block;
     }

     .r-number,
     span {
         color: $cod-gray;
     }

     .name-input {
         width: 25rem;
         padding: 0.875rem 1rem;
         border-left: none;
         border-top: none;
         border-right: none;
         border-bottom: 1px solid $cod-gray;
         font-size: 1rem;
         font-weight: 400;
         line-height: 1.5;
         color: $cod-gray;
         outline: none;
     }

     .email-input {
         width: 25rem;
         padding: 0.875rem 1rem;
         border-left: none;
         border-top: none;
         border-right: none;
         border-bottom: 1px solid $cod-gray;
         font-size: 1rem;
         font-weight: 400;
         line-height: 1.5;
         color: $cod-gray;
         outline: none;
     }

     .email-input.error {
         border-bottom: 1px solid $red;
         color: $red;
     }

     .input-month,
     .input-day,
     .input-year,
     .input-hour,
     .input-minute,
     .input-am-pm {
         width: 4.5rem;
         padding: 0.875rem 1rem;
         border-left: none;
         border-top: none;
         border-right: none;
         border-bottom: 1px solid $cod-gray;
         font-size: 1rem;
         font-weight: 400;
         line-height: 1.5;
         color: $cod-gray;
         outline: none;
     }



     label {
         font-weight: 500;
         font-size: 1.25rem;
         line-height: 1.625rem;
         color: $cod-gray;
     }

     .btn-plus,
     .btn-minus {
         background-color: transparent;
         border: none;
         cursor: pointer;
         padding: 0;
     }

     .line {
         border-bottom: 1px solid $cod-gray;
     }

     label.label-error {
         color: $red;
     }

     .am-pm_submenu {
         background: $white;
         position: absolute;
         top: 22rem;
         right: 0rem;
         left: 22rem;
         box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
         -webkit-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
         -moz-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
         color: $cod-gray;
         width: 5.75rem;
         display: none;
         padding: 1.2rem 2rem;
         gap: 0.5rem;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

         a {
             text-decoration: none;
             color: $cod-gray;
             font-size: 1rem;
             font-weight: 400;
             line-height: 1.5;
             cursor: pointer;
         }
     }

     .am-pm_submenu.show {
         display: block;
     }

     .btn-reservation {
         padding: 1.5rem 7rem;
         background-color: $cod-gray;
         border: none;
         color: $white;
         font-size: 1.063rem;
         font-weight: 600;
         letter-spacing: 2px;
         cursor: pointer;
         text-decoration: none;

         &:hover {
             background-color: $white;
             border: 1px solid $cod-gray;
             color: $cod-gray;
         }
     }
 }


 .mid-pattern-row {
     display: flex;
     align-items: flex-start;


     .pattern-lines {
         position: relative;
         top: 2rem;
         right: 5.5rem;
         z-index: -2;
     }
 }