.locally-sourced-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/patterns/pattern-curve-top-left.svg);
    background-repeat: no-repeat;
    background-position: bottom right;

    h2 {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
            width: 29.813rem;
        }
    
        p {
            font-size: 1.125rem;
            line-height: 1.5;
            width: 27.813rem;
        }
}