@import "variables";
@import "heading-home";
@import "booking-header";
@import "booking-mid";
@import "enjoyable-content";
@import "local-content";
@import "highlight-content";
@import "gathering-displays";
@import "reservation";
@import "dine-footer";
@import "responsive";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-league-spartan;
    overflow-x: hidden;
}